@import 'variables.scss';

body,
html {
  font-size: $standard-font-size;
  color: $standard-font-color;
  height: 100%;
  background-color: $standard-background-color;
  scroll-behavior: smooth;
}

.standard-link {
  text-decoration: none;
  cursor: pointer;
  color: $color-basic;

  &:hover {
    text-decoration: none;
    color: $color-basic;
  }
}

.navbar {
  padding: $standard-padding 0px;
  letter-spacing: $standard-font-size/8;

  .navbar-brand {
    font-size: $standard-font-size * 2;
    color: $standard-font-color;
    padding: 15px;
    margin: auto;
  }

  @media screen and (max-width: 1024px) {
    .nav {
      font-size: 12px;
    }

    .navbar-brand {
      font-size: 24px;
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.parallax-mirror {
  z-index: 1 !important;
}

.hero-header-background-photo {
  height: 100vh;
  width: 100%;
}

.hero-header-box {
  z-index: 2;
}

.text-on-header {
  color: #fff;
  font-size: $standard-font-size * 3.5;
}

@media screen and (max-width: 1200px) {
  .text-on-header {
    font-size: $standard-font-size * 2.5;
  }
}

@media screen and (max-width: 768px) {
  .text-on-header {
    text-align: center;
    padding: 40px 0px;
    margin: 0px;
  }
}

.photo-on-header {
  height: 25vh;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
}

.about-tech-container {
  margin-bottom: 70px;
}

.about-tech-container::before {
  @include anchor-fix();
}

.about-me {
  margin-bottom: 30px;
}

.text-indentation {
  border-left: 5px solid $secondary-font-color;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .tech-header {
    margin-bottom: 50px;
  }
}

.good-knowledge,
.good-knowledge::before {
  border-color: $color-good;
}

.decent-knowledge,
.decent-knowledge::before {
  border-color: $color-decent;
}

.basic-knowledge,
.basic-knowledge::before {
  border-color: $color-basic;
}

.tech-key-item {
  text-align: center;
  float: right;
  padding-right: 20px;

  &::before {
    content: '';
    display: inline-block;
    background-color: $standard-background-color;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 5px 5px 20px #000;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    vertical-align: -45%;
    margin-right: 12px;
  }
}

@media screen and (max-width: 492px) {
  .tech-key-item {
    margin: 10px;
    float: left;
    clear: left;
  }
}

.tech-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.anti-rotate {
  transform: rotate(-45deg) translate(-20px, 20px);
}

@media screen and (max-width: 768px) {
  .anti-rotate {
    transform: rotate(-45deg) translate(-15px, 15px);
  }
}
.tech-item {
  display: flex;
  justify-content: center;
  background-color: $tech-background-standard;
  border-radius: 15px;
  border-style: solid;
  border-width: 4px;
  box-shadow: 5px 5px 20px #000;
  width: 140px;
  height: 140px;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px;

  img {
    height: 80px;
    width: 80px;
    transition: 0.5s ease-out;
  }

  &:hover {
    img {
      opacity: 0;
    }

    .icon-text {
      opacity: 1;
      transform: rotate(-45deg) translate(-35px, 33px);
    }

    .icon-text-long {
      transform: rotate(-45deg) translate(-25px, 19px);
    }
  }
}

.icon-text {
  display: block;
  position: absolute;
  text-align: center;
  font-size: 1.5 * $standard-font-size;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-out;
  text-shadow: 2px 2px 4px #000000;
}

@media screen and (max-width: 768px) {
  .tech-item {
    width: 100px;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;

    img {
      height: 50px;
      width: 50px;
    }

    .icon-text {
      font-size: $standard-font-size;
    }

    .icon-text-long {
      font-size: 15px;
    }

    &:hover {
      .icon-text {
        opacity: 1;
        transform: rotate(-90deg) translate(-35px, -3px);
      }
      .icon-text-long {
        transform: rotate(-90deg) translate(-25px, -3px);
      }
    }
  }
}

.mid-background-photo {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .mid-background-photo {
    display: none;
  }
}

.my-projects::before {
  @include anchor-fix();
}

.flex-row {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}

@media screen and (max-width: 992px) {
  .flex-row {
    display: block;
  }
  .flex-row:nth-of-type(2) {
    margin: 10px;
  }
}

.img-project {
  box-shadow: 5px 5px 20px #000;
}

.bottom-background-photo {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .bottom-background-photo {
    display: none;
  }
}

.contact {
  margin: 30px auto 60px auto;
}

.circle-container {
  @include on-circle($item-count: 4, $circle-size: 300px, $item-size: 125px);
  margin: 70px auto 40px auto;
  border: solid 5px $color-basic;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 5px $color-basic;
    transition: 0.15s;

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .contact {
    margin: auto auto 20px auto;
  }

  .contact-details {
    margin-top: 0px;
    text-align: right;
  }

  .circle-container {
    @include on-circle($item-count: 4, $circle-size: 200px, $item-size: 75px);
  }
}

.footer-background-photo {
  height: 250px;
}

@media screen and (max-width: 768px) {
  .footer-background-photo {
    background-image: none !important;
    background: $standard-background-color !important;
    height: 50px;
  }
}

.footer-box {
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
}

/* ##################### SLIDE ANIMATION ################### */
.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-hang:hover,
.hvr-hang:focus,
.hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
