@import "variables.scss";

body, html {
  font-size: $standard-font-size;
  color: $standard-font-color;
  height: 100%;
  background-color: $standard-background-color;
}

.navbar {
  padding: $standard-padding 0px;
  letter-spacing: $standard-font-size/8;

  .navbar-brand {
    font-size: $standard-font-size*2;
    color: $standard-font-color;
    padding: 15px;
    margin: auto;
  }

  @media screen and (max-width: 1024px) {
    .nav {
      font-size: 12px;
    }

    .navbar-brand {
      font-size: 24px;
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.parallax-mirror {
  z-index: 1 !important;
}

.hero-header-background-photo {
  height: 100vh;
  width: 100%;
}

.hero-header-box {
  z-index: 2;
}

.text-on-header {
  color: #fff;
  font-size: $standard-font-size*3.5;
}

@media screen and (max-width: 1200px) {
  .text-on-header {
    font-size: $standard-font-size*2.5;
  }
}

@media screen and (max-width: 768px) {
  .text-on-header {
    text-align: center;
    padding: 40px 0px;
    margin: 0px;
  }
}

.photo-on-header {
  height: 25vh;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
}

.about-tech-container {
  margin-bottom: 70px;
}

.about-tech-container::before {
  @include anchor-fix();
}

.about-me {
  margin-bottom: 30px;
}

.text-indentation {
  border-left: 5px solid $secondary-font-color;
  padding-left: 5px;
}

@media screen and (max-width: 768px) {
  .tech-header {
    margin-bottom: 50px;
  }
}

.learned {
  text-align: center;
  float: right;
  padding-right: 20px;
}

.learned::before {
  content: "";
  display: inline-block;
  background-color: #0ABE01;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -45%;
}

.learning {
  text-align: center;
  float: right;
  padding-right: 20px;
}

.learning::before {
  content: "";
  display: inline-block;
  background-color: #FFD700;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -45%;
}

.not-learned {
  text-align: center;
  float: right;
}

.not-learned::before {
  content: "";
  display: inline-block;
  background-color: #FF4500;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -45%;
}

@media screen and (max-width: 492px) {
  .learned,
  .learning,
  .not-learned {
    margin: 10px;
    float: left;
    clear: left;
  }
}

.tech-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.tech-item {
  display: flex;
  justify-content: center;
  background-color: #0ABE01;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #000;
  width: 125px;
  height: 125px;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px;

  .anti-rotate {
    transform: rotate(-45deg) translateY(22px);
  }

  i {
    text-shadow: 2px 2px 8px #000000;
    font-size: 80px;
  }
}

.tech-not-learned {
  background-color: #FF4500;
}

//
.learning-right-now {
  background-color: #FFD700;
}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-sass-original,
.devicon-bootstrap-plain,
.devicon-git-plain,
.devicon-github-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-react-original,
.devicon-wordpress-plain,
.devicon-angularjs-plain,
.devicon-linux-plain,
.devicon-docker-plain,
.devicon-gulp-plain,
.devicon-photoshop-plain {
  transition: 0.5s ease-out;
}

.icon-text {
  display: block;
  position: absolute;
  font-size: 1.5*$standard-font-size;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-out;
  text-shadow: 2px 2px 4px #000000;

}

.tech-item:hover .icon-text {
  opacity: 1;
  transform: rotate(-45deg) translate(-35px, 30px);

}

.tech-item:hover {
  .devicon-html5-plain,
  .devicon-css3-plain,
  .devicon-sass-original,
  .devicon-bootstrap-plain,
  .devicon-git-plain,
  .devicon-github-plain,
  .devicon-javascript-plain,
  .devicon-jquery-plain,
  .devicon-nodejs-plain,
  .devicon-react-original,
  .devicon-wordpress-plain,
  .devicon-angularjs-plain,
  .devicon-linux-plain,
  .devicon-docker-plain,
  .devicon-gulp-plain,
  .devicon-photoshop-plain {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .tech-item {
    width: 90px;
    height: 90px;
    margin-left: 0px;
    margin-top: 0px;

    i {
      font-size: 50px;
      margin-right: 5px;
      margin-top: -3px;
    }

    .icon-text {
      font-size: $standard-font-size;
    }

    &:hover .icon-text {
      opacity: 1;
      transform: rotate(-90deg) translateX(-35px);
    }
  }
}

.mid-background-photo {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .mid-background-photo {
    display: none;
  }
}

.my-projects::before {
  @include anchor-fix();
}

.flex-row {
  display: flex;
  align-items: center;
  margin: 50px 0px;
}

@media screen and (max-width: 992px) {
  .flex-row {
    display: block;
  }
  .flex-row:nth-of-type(2) {
    margin: 10px;
  }
}

.img-project {
  box-shadow: 5px 5px 20px #000;
}

.bottom-background-photo {
  height: 500px;
}

@media screen and (max-width: 768px) {
  .bottom-background-photo {
    display: none;
  }
}

.contact {
  margin: 30px auto 60px auto;
}

.circle-container {
  @include on-circle($item-count: 4, $circle-size: 300px, $item-size: 125px);
  margin: 70px auto 40px auto;
  border: solid 5px #FF4500;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 5px #FF4500;
    transition: .15s;

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}

@media screen and (max-width: 768px) {

  .contact {
    margin: auto auto 20px auto;
  }

  .contact-details {
    margin-top: 0px;
    text-align: right;
  }

  .circle-container {
    @include on-circle($item-count: 4, $circle-size: 200px, $item-size: 75px);
  }
}

.footer-background-photo {
  height: 250px;
}

@media screen and (max-width: 768px) {
  .footer-background-photo {
    background-image: none !important;
    background: $standard-background-color !important;
    height: 50px;
  }
}

.footer-box {
  z-index: 2;
  display: flex;
  align-items: center;
  position: relative;
}

/* ##################### SLIDE ANIMATION ################### */
.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Hang */
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}