$standard-font-size: 16px;
$standard-padding: 10px;
$standard-background-color: #333;
$standard-font-color: #fff;
$secondary-font-color: #9d9d9d;

body, html {
  font-size: $standard-font-size;
  color: $standard-font-color;
  height: 100%;
  background-color: $standard-background-color;
}


.navbar {
  padding: $standard-padding 0px;
  letter-spacing: $standard-font-size/8;

  .navbar-brand {
    font-size: $standard-font-size*2;
    color: $standard-font-color;
    padding: 15px;
    margin: auto;
  }

  @media screen and (max-width: 1024px) {
    .nav {
      font-size: 12px;
    }

    .navbar-brand {
      font-size: 24px;
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.hero-header-background-photo {
  background-image: url(../img/background1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.text-on-header {
  color: #fff;
  font-size: $standard-font-size*3.5;
}

@media screen and (max-width: 1200px) {
  .text-on-header {
    font-size: $standard-font-size*2.5;
  }
}

@media screen and (max-width: 768px) {
  .text-on-header {
    text-align: center;
    padding: 40px 0px;
    margin: 0px;
  }
}

.photo-on-header {
  height: 25vh;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff;
}

.about-me {
  margin-bottom: 30px;
}

.text-indentation {
  border-left: 5px solid $secondary-font-color;
  padding-left: 5px;
}

.learning-status-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.learned {
  text-align: center;
  float: right;
  padding-right: 20px;
}

.learned::before {
  content: "";
  display: inline-block;
  background-color: #0ABE01;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -50%;
}

.work-in-progress {
  text-align: center;
  float: right;
}

.work-in-progress::before {
  content: "";
  display: inline-block;
  background-color: #EB6902;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -50%;
}

.tech-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.tech-item {
  display: flex;
  justify-content: center;
  background-color: #0ABE01;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  width: 125px;
  height: 125px;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px;

  .anti-rotate {
    transform: rotate(-45deg) translateY(22px);
  }

  i {
    text-shadow: 2px 2px 8px #000000;
    font-size: 80px;
  }
}

.tech-not-learned {
  background-color: #EB6902;
}

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-sass-original,
.devicon-bootstrap-plain,
.devicon-git-plain,
.devicon-github-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-react-original,
.devicon-wordpress-plain,
.devicon-angularjs-plain,
.devicon-linux-plain,
.devicon-docker-plain,
.devicon-gulp-plain,
.devicon-photoshop-plain {
  transition: 0.5s ease-out;
}

.icon-text {
  display: block;
  position: absolute;
  font-size: 1.5*$standard-font-size;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-out;
  text-shadow: 2px 2px 4px #000000;

}

.tech-item:hover .icon-text {
  opacity: 1;
  transform: rotate(-45deg) translate(-35px, 30px);

}

.tech-item:hover {
  .devicon-html5-plain,
  .devicon-css3-plain,
  .devicon-sass-original,
  .devicon-bootstrap-plain,
  .devicon-git-plain,
  .devicon-github-plain,
  .devicon-javascript-plain,
  .devicon-jquery-plain,
  .devicon-nodejs-plain,
  .devicon-react-original,
  .devicon-wordpress-plain,
  .devicon-angularjs-plain,
  .devicon-linux-plain,
  .devicon-docker-plain,
  .devicon-gulp-plain,
  .devicon-photoshop-plain {
    opacity: 0;
  }
}