body, html {
  font-size: 16px;
  color: #fff;
  height: 100%;
  background-color: #333; }

.navbar {
  padding: 10px 0px;
  letter-spacing: 2px; }
  .navbar .navbar-brand {
    font-size: 32px;
    color: #fff;
    padding: 15px;
    margin: auto; }
  @media screen and (max-width: 1024px) {
    .navbar .nav {
      font-size: 12px; }
    .navbar .navbar-brand {
      font-size: 24px; } }

.flex-container {
  display: flex;
  align-items: center;
  margin-top: 30px; }

.parallax-mirror {
  z-index: 1 !important; }

.hero-header-background-photo {
  height: 100vh; }

.hero-header-box {
  z-index: 2; }

.text-on-header {
  color: #fff;
  font-size: 56px; }

@media screen and (max-width: 1200px) {
  .text-on-header {
    font-size: 40px; } }
@media screen and (max-width: 768px) {
  .text-on-header {
    text-align: center;
    padding: 40px 0px;
    margin: 0px; } }
.photo-on-header {
  height: 25vh;
  border: 2px solid #fff;
  box-shadow: 0 0 15px #fff; }

.about-tech-container {
  margin-bottom: 70px; }

.about-tech-container::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

.about-me {
  margin-bottom: 30px; }

.text-indentation {
  border-left: 5px solid #9d9d9d;
  padding-left: 5px; }

@media screen and (max-width: 768px) {
  .tech-header {
    margin-bottom: 30px; } }
.learned {
  text-align: center;
  float: right;
  padding-right: 20px; }

.learned::before {
  content: "";
  display: inline-block;
  background-color: #0ABE01;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -45%; }

.work-in-progress {
  text-align: center;
  float: right; }

.work-in-progress::before {
  content: "";
  display: inline-block;
  background-color: #EB6902;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  vertical-align: -45%; }

.tech-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%; }

.tech-item {
  display: flex;
  justify-content: center;
  background-color: #0ABE01;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  width: 125px;
  height: 125px;
  transform: rotate(45deg);
  margin-left: 15px;
  margin-top: 15px; }
  .tech-item .anti-rotate {
    transform: rotate(-45deg) translateY(22px); }
  .tech-item i {
    text-shadow: 2px 2px 8px #000000;
    font-size: 80px; }

.tech-not-learned {
  background-color: #EB6902; }

.devicon-html5-plain,
.devicon-css3-plain,
.devicon-sass-original,
.devicon-bootstrap-plain,
.devicon-git-plain,
.devicon-github-plain,
.devicon-javascript-plain,
.devicon-jquery-plain,
.devicon-nodejs-plain,
.devicon-react-original,
.devicon-wordpress-plain,
.devicon-angularjs-plain,
.devicon-linux-plain,
.devicon-docker-plain,
.devicon-gulp-plain,
.devicon-photoshop-plain {
  transition: 0.5s ease-out; }

.icon-text {
  display: block;
  position: absolute;
  font-size: 24px;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  transition: 0.5s ease-out;
  text-shadow: 2px 2px 4px #000000; }

.tech-item:hover .icon-text {
  opacity: 1;
  transform: rotate(-45deg) translate(-35px, 30px); }

.tech-item:hover .devicon-html5-plain,
.tech-item:hover .devicon-css3-plain,
.tech-item:hover .devicon-sass-original,
.tech-item:hover .devicon-bootstrap-plain,
.tech-item:hover .devicon-git-plain,
.tech-item:hover .devicon-github-plain,
.tech-item:hover .devicon-javascript-plain,
.tech-item:hover .devicon-jquery-plain,
.tech-item:hover .devicon-nodejs-plain,
.tech-item:hover .devicon-react-original,
.tech-item:hover .devicon-wordpress-plain,
.tech-item:hover .devicon-angularjs-plain,
.tech-item:hover .devicon-linux-plain,
.tech-item:hover .devicon-docker-plain,
.tech-item:hover .devicon-gulp-plain,
.tech-item:hover .devicon-photoshop-plain {
  opacity: 0; }

.mid-background-photo {
  height: 500px; }

.my-projects::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

.flex-row {
  display: flex;
  align-items: center;
  margin: 50px 0px; }

@media screen and (max-width: 992px) {
  .flex-row {
    display: block; } }
.bottom-background-photo {
  height: 500px; }

/* ##################### SLIDE ANIMATION ################### */
.slideanim {
  visibility: hidden; }

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible; }

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }

/*# sourceMappingURL=style.css.map */
