$standard-font-size: 16px;
$standard-padding: 10px;
$standard-background-color: #333;
$standard-font-color: #fff;
$secondary-font-color: #9d9d9d;
$color-good: #0abe01;
$color-decent: #ffff00;
$color-basic: #ff4500;
$tech-background-standard: #333;

@mixin anchor-fix() {
  display: block;
  content: ' ';
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -($item-size / 2);

    $angle: (360 / $item-count);
    $rot: 15;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}
